body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}

.hero-section {
    background: linear-gradient(to right, #343a40, #495057);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.profile-photo {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: top;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.profile-photo:hover {
    transform: scale(1.1);
}

.card {
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.dark-mode {
    background-color: #212529;
    color: white;
}

.dark-mode .card {
    background-color: #343a40;
    color: white;
}

.dark-mode .hero-section {
    background: linear-gradient(to right, #212529, #343a40);
}
